*
{
    box-sizing: border-box; 
}
body
{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Permanent Marker', cursive;
}

/* Diseño del Header */
.navi li{
  display: inline;
  justify-content:center;
  align-items: center;
  padding-right: 10px;
  margin-right: 20px;  
}

.ul{
  list-style-type: none;
  text-align: center;
}

/* Diseño del Main */

.main{
    display: flex;
    height: 100%;
}

.contenedor_principal{
    background-color: blue;
    width: 70%;
    
}

.contenedor_a{
    background-color: blueviolet;
    display: flex;
    height: 50%;
    border-radius: 10px;
    width: 99%;
}

.cajita_1{
    background-color: chartreuse;
    height: 100%;
    width: 33.3%;
    border-radius: 10px;
    background-image: url('./assets/MONAVIAJE.jpg');
    background-size: cover;
}
.cajita_2{
    background-color: white;
    height: 100%;
    width: 33.3%;
    border-radius: 10px;
    background-image: url('./assets/VAMOSBICI.png');
    background-size:contain;
    background-repeat: no-repeat;
}
.cajita_3{
    background-color: rgb(0, 247, 255);
    height: 100%;
    width: 33.4%;
    border-radius: 10px;
    background-image: url('./assets/Medellin--web-ready-highlight-image-305381467891693_crop_960_390.jpg');
}

.contenedor_b{
    background-color: burlywood;
    height: 50%;
    border-radius: 10px;
    width: 99%;
    background-image: url('./assets/Medellin--web-ready-highlight-image-305381467891693_crop_960_390.jpg');
    background-size: contain;
}

.contenedor_lateral{
    background-color: brown;
}
.cajita_4{
    background-color: chartreuse;
    height: 33.3%;
    border-radius: 10px;
    background-image: url('./assets/CLIMA.png');
    background-size: cover;
}
.cajita_5{
    background-color: rgb(0, 255, 136);
    height: 33.3%;
    border-radius: 10px;
    background-image: url('./assets/SIATA.png');
    background-size: cover;

}
.cajita_6{
    background-color: rgb(0, 247, 255);
    height: 33.3%;
    border-radius: 10px;
}

/* Diseño del Footer */
.footer li{
  display: inline;
  justify-content:center;
  align-items: center;
  padding-right: 10px;
  margin-right: 20px; 
  
}